name: Lint
on:
  push:
  pull_request:
    types:
      - opened
      - edited
      - reopened
jobs:
  Eslin-Typescript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: v14.16.0
      - run: npm install -ci
      - run: npm run lint
      - run: npm run type-check
      - run: npm test
